<algoConfig>
	<!-- Genetic algorythm parameters -->
	<paramsList id="algoGen">
		
		<param>
			<name>popSize</name>
			<value>100</value>
		</param>
		<param>
			<name>mutationRate</name>
			<value>5</value>
		</param>
		<param>
			<name>crossOverRate</name>
			<value>1</value>
		</param>
		<param>
			<name>reproductionRate</name>
			<value>80</value>
		</param>
		<param>
			<name>selectionMethod</name>
			<value>2</value>
		</param>
		<param>
			<name>maxTour</name>
			<value>100</value>
		</param>
	</paramsList>
	
	<!-- mmopt parameters -->
	<paramsList id="mmopt">
		<param>
			<name>alpha</name>
			<value>2</value>
		</param>
		<param>
			<name>beta</name>
			<value>1</value>
		</param>
		<!-- Gene 0 -->
		<param>
			<name>bufferRange</name>
			<value>0 ; 1</value>
		</param>
		<!-- These parameter migth need to be calculated duriong runtime-->
		<!-- Gene  2-->
		<param>
			<name>foresigthRange</name>
			<value>10; 15</value>
		</param>
		<!-- Gene  3-->
		<param>
			<name>tileKeepingRange</name>
			<value>0 ; 10</value>
		</param>
		<!-- Gene  4-->
		<param>
			<name>coefAllUseRange</name>
			<value>1 ; 20</value>
		</param>
		<!-- Gene  5-->
		<param>
			<name>coefNextUseRange</name>
			<value>1 ; 10</value>
		</param>
		
	</paramsList>

	<paramsList id="reportOption">
		<param>
			<name>wantedGeneration</name>
			<value>1 ; 100</value>
		</param>
		<!--Available stats: buffer, prefetch, delta, foresigth, tileKeeping, coefAllUse, coefNextUse -->
		<param>
			<name>wantedGraph</name>
			<value> buffer : prefetch ; buffer : delta </value>
		</param>
	</paramsList>
</algoConfig>